:root {
  --color-grey: #7f8999;
  --color-blue: #039be6;
  --color-white: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f6f8;
  text-align: center;
}
.userCards {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
.userCard {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 1%), 0 6px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 20px;
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 300px;
  min-width: 240px;
  margin: 30px;
  transform: scale(1.1);
  display: flex;
  flex-direction: column;
}
.cardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 40px 20px 40px;
}
.userJobSection {
  background-color: #ffffff;
  padding-bottom: 20px;
}
.userImg {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  background-image: url(https://thumbs.dreamstime.com/b/no-thumbnail-image-placeholder-forums-blogs-websites-148010362.jpg);
  background-color: #f5f6f8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.userStar {
  font-size: 20px;
  color: #e6e4e6;
  margin-top: -10px;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 100%;
}
.starOff {
  color: #e6e4e6;
}
.starOn {
  color: #fdc413;
}
.userJob {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.userPayment {
  font-size: 12px;
  margin-top: 10px;
  color: var(--color-grey);
  font-weight: bold;
}
.userInfoSection {
  background-color: var(--color-white);
  height: 100%;
}
.userName {
  font-size: 14px;
  font-weight: bold;
}
.userLocation {
  margin: 15px 0 20px 0;
  color: var(--color-grey);
  font-size: 10px;
  font-weight: bold;
}
.marker {
  font-size: 12px;
  padding-top: 2px;
}
.userInfo {
  font-size: 10px;
  color: var(--color-grey);
  margin-bottom: 30px;
  line-height: 20px;
}
.button {
  width: 90%;
  text-transform: Uppercase;
  text-decoration: none;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid var(--color-blue);
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
}
.viewButton {
  margin-top: auto;
  color: var(--color-blue);
}
.viewButton {
  margin-top: auto;
  color: var(--color-blue);
}
.viewButton:hover {
  color: var(--color-white);
  background-color: #8dd2f5;
}
.offerButton {
  color: var(--color-white);
  background-color: var(--color-blue);
}
.offerButton:hover {
  color: var(--color-blue);
  background-color: #ade4ff;
}
.userStatus {
  font-size: 10px;
  margin-top: 20px;
  color: var(--color-grey);
}
.online {
  color: #8ccb41;
}
